<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 
 	<dubbo:application name="${application.name}" owner="${dubbo.application.owner}" />
	<dubbo:protocol name="dubbo" port="${service_port}" />
 	<dubbo:registry address="${dubbo.registry.address}" />
 	
	<dubbo:service ref="userSearchService" interface="com.appleframework.oss.boss.service.UserSearchService" />
	<dubbo:service ref="roleSearchService" interface="com.appleframework.oss.boss.service.RoleSearchService" />
	<dubbo:service ref="departmentSearchService" interface="com.appleframework.oss.boss.service.DepartmentSearchService" />
	 -->
</beans> 